*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1f2937;
}

ul {
    display: flex;
    list-style: none;
    gap: 5px;
}

ul a, .header a {
    color: #e5e7eb;
    text-decoration: none;
}

ul li {
    width: max-content;
}

.header *, .introduction *, .products *, .reviews *, .contact *, footer *, main * {
    border: 1px solid transparent;
    padding: 5px;
}

h1 {
    color: #f9faf8;
}

.logo, .intro-container p {
    color: #e5e7eb;
}

.introduction {
    display: flex;
    align-items: center;
    background-color: #1f2937;
    justify-content: space-around;
}

button {
    border-radius: 5px;
    background-color: #3882f6;
    color: #e5e7eb;
    cursor: pointer;
}

.products {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px auto;
    flex-wrap: wrap;
}

.card {
    text-align: center;
    border: 3px solid #3882f6;
    border-radius: 25px;
}

.card:hover {
    background-color: lightgray;
}

.reviews {
    margin: 20px auto;
    background-color: #e5e7eb;
}

.review, .reviewer {
    text-align: center;
    font-style: italic;
    font-size: 1.25rem;
    color: #1f2937;
}

.reviewer {
    font-style: none;
    font-weight: bold;
}

.contact {
    margin: 20px 40px;
    background-color: #3882f6;
}

.contact h3 {
    color: #f9faf8;
}

.contact p {
    color: #e5e7eb;
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}

footer {
    font-size: small;
    background-color: #1f2937;
    color: #e5e7eb;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
    margin-top: auto;
}